/* --------------------------------
         *   TYPOGRAPHY
-------------------------------- */
@import './variables';

//? typography:
body {font-family: 'Roboto'; font-size: 15px;}

th {font-size: 24px;}
td {font-size: 20px;}


h1 {font-size: 4rem;}
h2 {font-size: 3rem;}
h3 {font-size: 2rem;}
h4 {font-size: 1rem;}
h5 {font-size: 0.8rem;}
h6 {font-size: 0.6rem;}
